// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

#hero {
    background-image: url(../images/pexels-kindel-media-6868618.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  