// Custom.scss
// Option A: Include all of Bootstrap

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

$primary: #391A11;
$secondary: #FBAF1A;
$success:#FFCC7C;
$info: #51221B;
$light: #E7E7E7;
$dark: #391A11;

$h1-font-size: 3.815rem;
$h2-font-size: 3.052rem;
$h3-font-size: 2.441rem;
$h4-font-size: 1.953rem;
$h5-font-size: 1.563rem;
$h6-font-size: 1.25rem;	
$p-font-size: 1rem;	

$btn-font-size: 1.25rem;

$font-family-sans-serif: 'Poppins', sans-serif;
$headings-font-family: 'Poppins', sans-serif;

// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
  
#hero-home {
    background-color: $primary;
    background-image: url(../images/hands-passing-packages-2.jpg);
    background-position: right center;
    background-size: 50% 100%;
    background-repeat: no-repeat;
}

#hero-shipping {
    background-color: $primary;
    background-image: url(../images/ups-delivery-man-carrying-boxes.jpg);
    background-position: right center;
    background-size: 50% auto;
    background-repeat: no-repeat;
}

#hero-ps{
    background-color: $primary;
    background-image: url(../images/woman-packging-a-box.jpg);
    background-position: right bottom -450px;
    background-size: 50% auto;
    background-repeat: no-repeat;
}

#business {
    background-color: $info;
    background-image: url(../images/business-team-1.jpg);
    background-position: left center;
    background-size: 50% auto;
    background-repeat: no-repeat;

    padding: 4em;
}

#nav-link {
    color: $light;
}

h1,h2,h5,a{
    text-transform: uppercase;
}

h1,h2 {
    font-weight:700;
}

h5,a{
    font-weight:600;
}

h6{
    color: $secondary;
}

a{
    text-decoration: none;
}

.navbar-nav > li{
    margin-left:70px;
    margin-right:70px;
}
  
.nav-link{
    color: $light;
    font-weight:600;
}

.nav-link:hover,
.nav-link:focus{
    color: $secondary;
}

.btn-card, 
.btn-secondary,
.btn-success{
    font-weight:600;
}

.btn-card{
    background-color: $secondary;
    border-color: $secondary;
    color: $primary;
}

.btn-card:hover,
.btn-card:focus{
    background-color: $secondary;
    border-color: $secondary;
    color: $primary;
    font-weight:700;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-success:hover,
.btn-success:focus{
    background-color: $primary;
    border-color: $primary;
    color: $secondary;
}